body{
    background-color: #fafafa;
    display: flex;
}

.typing h1{
    /* text-align: center; */
    color: rgb(0, 0, 0);
    font-family: monospace;
    overflow: hidden;
    border-right: .15em solid #070100;
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: .15em;
    animation: 
        typing 3.5s steps(30, end),
        blink-animation .5s step-end infinite;
}

@keyframes typing{
    from { width: 0 }
    to { width: 100%}
}

@keyframes blink-animation {
    from, to { border-color: transparent }
    50% { border-color: #010608 } 
}

#text2 {
 color :rgb(255, 1, 1);
}